{% load static %}
<html>
<head>
	<title>
		Komputer Builtin
	</title>
</head>

<body>
	<form method="POST"i> {% csrf_token %}
		{{ form.as_p }}

		<button type="submit">Save</button>
	</form>


	    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
			<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}" />
			<script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
			<script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
			<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
			<script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}"></script>
			<script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
			<script type="text/javascript" src="{% static 'autocomplete_light/forward.js' %}"></script>
			<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
			{{ form.media }}



</body>

</html>
